<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="date" value="{%"></meta>
  <title>Farmer Jeremy's Almanac {% block title %}{% endblock }</title>
  <link rel="stylesheet" href="/tufte.min.css">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
  <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>
  <script src="/scripts.js"></script>
  {% endblock %}
</head>
<body>
  {% block main %}
  {% endblock %}
  {% block py_repl %}
<script type="py-editor" target="editor">
  import sys
  print(sys.version)
</script>
<div id="editor"></div>
  {% endblock %}
  {% block footer %}
<footer>
  Copyright &copy; 02024-. 
  <div>AI statement - I use multiple models for creation assistance in the almanac</div>
</footer>
  {% endblock %}
</body>
</html>
